<!DOCTYPE html>
<html>

<head>
    <title>Listing</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
        integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
        crossorigin=""></script>

</head>

<body>

    <div class="container-fluid p-0 m-0" id="divCont">

        <div id="background-image" class="position-absolute">

            <img src="/images/background.jpg" alt="background image" />

        </div>

        <div id="color-filter" class="position-absolute"></div>

        <main class="d-flex flex-column minheigh-10t0">

            <div class="row w-100 p-0 m-0" id="nav">

                <nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100">

                    <a class="navbar-brand" href="/">
                        <img src="/images/logo.png" width="auto" height="30" class="d-inline-block align-top" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-item nav-link" href="about">About</a>
                            <a class="nav-item nav-link" href="signup">Sign up</a>
                            <a class="nav-item nav-link" href="login">Login</a>

                        </div>

                        <a class="nav-item nav-link" href="disconnect">Disconnect</a>

                        <a class="navbar-brand" href="favory">
                            <img src="/images/favoris.png" width="auto" height="30" class="d-inline-block align-top"
                                alt="">
                        </a>
                    </div>

            </div>
            </nav>

    </div>


    </div>
    <form method="post" action="/listing" id="form">

        <div class="flex-grow-1 d-flex mt-3">

            <div class="form-group col-md-4">

                <div id="divForm">
                    <input name="sliderPoi" id="sliderPoi" class="sliderPoi" type="range" min=1 max=200 value=""
                        onchange="myFunction()" />
                    <p>Number of markers to display : <span id="ex6SliderVal"></span></p>

                    <script>
                        function myFunction() {
                            document.getElementById("ex6SliderVal").innerHTML = document.getElementById("sliderPoi").value;
                        }
                        $(myFunction);
                        document.getElementById("sliderPoi").onmouseup = function () {
                            document.getElementById("form").submit();
                        }
                    </script>

                </div>


            </div>


        </div>
    </form>
    <div class="row p-0 m-0 flex-grow-1 d-flex border mt-5" id="divContainerListing">
        <div class="col-4 p-0 m-0 d-flex flex-column bg-white" id="divList">

            <% for(var i =0; i<data.length; i++) {%>
            <div class="divListingItems">
                <div class="card w-100">
                    <div class="card-body">
                        <h5 class="card-title"><%= data[i].rdfs_label[0].value%></h5>
                        <a href="listing/detail" class="btn btn-primary">More details</a>
                    </div>
                </div>
            </div>
            <%}%>
                </div>
                <div class="col-8 p-0 m-0">                   
                    <div id="mapid">                      
                        <script >
                            //map
                            var mymap = L.map('mapid').setView([46, 3], 6);
                            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1Ijoia2lnYSIsImEiOiJjazIwamJ5ZjYxNWo1M2VxdHB0bzB2YXF6In0.whFAIc_yi0aWiiCw2tSnPw', {
                                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                                maxZoom: 18,
                                id: 'mapbox.streets',
                                accessToken: 'your.mapbox.access.token'
                            }).addTo(mymap);


                            <%for (var i = 0; i < data.length; i++) {%>
            <% if (data.length != 0) {%>
            var marker =
                                        L.marker([<%=data[i].isLocatedAt[0].schema_geo[0].schema_latitude %>,<%=data[i].isLocatedAt[0].schema_geo[0].schema_longitude %>]).addTo(mymap);
                                    var popup = L.popup().setContent("<%= data[i].rdfs_label[0].value%> <br> <%= data[i].isLocatedAt[0].schema_address[0].schema_streetAddress %> <br> <%= data[i].isLocatedAt[0].schema_address[0].schema_addressLocality%> <br> <%= data[i].isLocatedAt[0].schema_address[0].schema_postalCode%>");
                                            marker.bindPopup(popup);
            <% }%>
            <% }%>
                        </script>
        </div>
    </div>
    </div>

    </main>

    </div>


</body>

</html>