<% include layouts/header %>

    <form method="post" action="/listing" id="form">

      
            <div class="form-group col-md-4 mw-50">

                <div id="divForm">
                    <input name="sliderPoi" id="sliderPoi" class="sliderPoi" type="range" min=1 max=200 value=""
                        onchange="myFunction()"/>
                        
                    <input type="text" name="searchBar" placeholder="Commune" id="searchBar">
                    <input type="submit" class="btn btn-primary" value="Search">
                    <p>Number of markers to display : <span id="nbOfPoint"></span></p>

                </div>
            </div>


        
    </form>
    <div class="row p-0 m-0 flex-grow-1 d-flex border mt-5" id="divContainerListing">
        <div class="col-4 p-0 m-0 d-flex flex-column bg-white" id="divList">

            <% for(var i =0; i<data.length; i++) {%>
            <div class="divListingItems">
                <div class="card w-100">
                    <div class="card-body">
                        <h5 class="card-title"><%= data[i].rdfs_label[0].value%></h5>
                        <form action="listing/detail" method="post">
                            <input type="text" name="offersId" id="offersId" value="<%= data[i].dc_identifier[0] %>"
                                hidden="true">
                            <input class="btn btn-primary" type="submit" value="View details" name="displayOffer"
                                id="displayOffer" ;>
                        </form>
                    </div>
                </div>
            </div>
            <%}%>
                </div>
                <div class="col-8 p-0 m-0">                   
                    <div id="mapid">                      
                        <script >
                            //map
                            var mymap = L.map('mapid').setView([46, 3], 6);
                            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1Ijoia2lnYSIsImEiOiJjazIwamJ5ZjYxNWo1M2VxdHB0bzB2YXF6In0.whFAIc_yi0aWiiCw2tSnPw', {
                                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                                maxZoom: 18,
                                id: 'mapbox.streets',
                                accessToken: 'your.mapbox.access.token'
                            }).addTo(mymap);


                            <% for (var i = 0; i < data.length; i++) { %>
                 <% if (data.length != 0) { %>
                    var marker = L.marker([<%=data[i].isLocatedAt[0].schema_geo[0].schema_latitude %>,<%=data[i].isLocatedAt[0].schema_geo[0].schema_longitude %>]).addTo(mymap);
                    var popup = L.popup().setContent("<%= data[i].rdfs_label[0].value%> <br> <%= data[i].isLocatedAt[0].schema_address[0].schema_streetAddress %> <br><%= data[i].isLocatedAt[0].schema_address[0].schema_addressLocality%> <br><%= data[i].isLocatedAt[0].schema_address[0].schema_postalCode%>");
             marker.bindPopup(popup);
            <% }%>
            <% }%>
            </script>
        </div>
    </div>
    </div>

<% include layouts/footer %>